@charset "UTF-8";

h1 {
    text-align: center;
    font-family: sans-serif;
}

.btn-r {
	margin: 5px auto;
    width: 17.5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eb4d4b;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}


.btn-g {
	margin: 5px auto;
    width: 17.5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-b {
	margin: 5px auto;
    width: 17.5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1877f2;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
	font-family: sans-serif;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}